<video id="videoPlayer" controls>
  <source src="http://localhost:3000/video" type="video/mp4">
  
  <p>Credits : G-Eazy x Bebe Rexha  <a href="https://www.youtube.com/watch?v=bSfpSOBD30U"></a></p>
</video>